* {
    margin: 0;
}
body{
    background-image: url("../images/backgrounds-borders/graphpaper.png");
    /* background-color: rgb(219, 219, 219); */
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
 /* Header */
header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: space-between;
    /* background-color: rgb(154, 154, 231); */
    border-bottom: 35px solid transparent;
    border-image: url("../images/backgrounds-borders/paperBorder.png");
    border-image-slice: 50 fill;
    border-image-repeat: repeat;
    /* box-shadow: 10px 10px black; */
    filter: drop-shadow(30px, 10px,4px, black);
    align-items: center;

}
header{
    position: relative;
    bottom: 0;
}
header h1{
    position: relative;
    font-size: 65px;
    left: 40px;
    color: black;
    text-align: center;
}


header ul {
    width: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header ul li{
    /* background-color: rgb(76, 148, 216, 0.5); */
    padding: 10px 20px;
    margin: 10px;
    font-size: 30px;
    /* border: 1px solid black; */
    border-radius: 10px;
    color: black;
}


header ul a li:hover, header a h1:hover {
    color: rgb(63, 63, 63);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.295);
}
.current-page {
    color: rgb(105, 105, 105);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.295);
}
/* Hero */

.hero{
    margin: 0 auto;
    position: relative;
    z-index: -1;
    bottom: 50px;
    background-image: url(../images/images/Hero_Images_for_eLearning53.jpeg);
    background-size: cover;
    height: 500px;
    width: 100%;
    /* max-width: 1300px; */
}
.hero h2{

    position: relative;
    top: 200px;
    margin-left: 10%;
    color: white;
    font-size:100px;
    text-align: left;
}

/* cards */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
} 

.card{
    margin: 10px; 
    /* width: 90%; */
    height: auto; 
    border: 35px solid black;
    border-image: url("../images/backgrounds-borders/paperBorder.png");
    border-image-slice: 50 fill;
    border-image-repeat: repeat;
    flex: 1 0 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card img {
    border-radius: 10px;
    margin: 20px;
    flex: 1 0 0 ;
    height: 408px;
    width: 612px;
    /* border: 5px solid black; */
}
.text {
    border-radius: 10px;
    height: 408px;
    width: 500px;
    margin: 20px;
    position: relative;
    flex: 2 0 0;
    background-color: rgb(219, 219, 219);
}
.text h2{
    padding: 0 40px 10px 40px;
    font-size: 55px;
}
.text p {
    padding: 0 25px;
    font-size: 25px;
    margin-bottom: 5px;
}
.see-more p{
    border-radius: 10px;
    font-size: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* background-color: rgba(16, 128, 90, 0); */
    padding: 5px;

}
.see-more p:hover {
    color: rgb(131, 131, 131);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.295);
    /* background-color: rgba(126, 126, 126, 0.39); */
}

.mini-cards {
    display: flex;
    
    justify-content: space-evenly;

}
.mini-card {
    
    margin: 20px;
    border: 35px solid black;
    border-image: url("../images/backgrounds-borders/paperBorder.png");
    border-image-slice: 50 fill;
    border-image-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-link:hover{
    border-image: url("../images/backgrounds-borders/paperBorder-highlighted.png");
    border-image-slice: 50 fill;
    border-image-repeat: repeat;
}
.mini-card img {
    border-radius: 10px;
    width: 250px;
    margin-top: 20px;
}
.mini-card .text {
    background-color: rgb(219, 219, 219);
    width: 250px;
    height: 408px;
}
.mini-card h2 {
    text-align: center;
    font-size: 35px;
}

/* About me Section */
#About-Me .text {
    text-align: center;
}

#About-Me img  {
    border-radius: 50%;
}
hr {
    width: 90%;
    margin: 0 auto;
}

/* Footer */
footer {
    margin-top: 35px;
    height: 25px;
    width: 100%;
    border-top: 35px solid rgb(67, 70, 212);
    border-image: url("../images/backgrounds-borders/paperBorder.png");
    border-image-slice: 50 fill;
    border-image-repeat: repeat;
}

/* Utility */
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}



/* media queries */
@media only screen and (max-width: 1204px) {

    .mini-cards {
        flex-direction: column;
    }
    .mini-card img {
        border-radius: 10px;
        height: 408px;
        width: 612px;
    }
    .mini-card .text {
        width: 612px;
    }
    .mini-card p {
        display: none;
    }
    
}

@media only screen and (max-width: 1056px) {
    header{
        flex-direction: column;
    }
    header h1 {
        position: static;
    }

    .hero h2 {
        margin: auto;
        text-align: center;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }
    .text {
        text-align: center;
        width: 612px;
    }
    .text-before-image{
        order: 2;
    }
    .see-more p{
        position: static;
    }
}

@media only screen and (max-width: 768px) {
    
    footer, header{
        /* width: 900px; */
        
    }
    .text {
        text-align: center;

        width: 90%;
        height: auto;
    }
    .card img {
    
        width: 90%;
        height: auto;
    }
    .mini-card img {
        width: 90%;
        height: auto;
    }
    .mini-card .text {
        width: 90%;
        height: auto;
    }

    
    .card{
        border: 0;
        border-top: 35px solid black;
        border-bottom: 35px solid black;
        border-image: url("../images/backgrounds-borders/paperBorder.png");
        border-image-slice: 50 fill;
        border-image-repeat: repeat;
        margin: 10px 0;
        width: 100%;
    }

    .mini-card{
        margin: 0;
        border: 0 solid black;
        border-top: 35px solid black;
        border-bottom: 35px solid black;
        border-image: url("../images/backgrounds-borders/paperBorder.png");
        border-image-slice: 50 fill;
        border-image-repeat: repeat;
    }

    header {
        padding: 0;

    }
    header ul{
        padding-inline-start: 0px;
    }

    
}