* {
    margin: 0;
}
body{
    background-image: url("../images/backgrounds-borders/paperBackground.png");
}
 /* Header */
header{
    position: relative;
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: rgb(154, 154, 231);
    border-bottom: 3px solid rgb(67, 70, 212);
    align-items: center;
    padding: 5px;
}
header h1{
    position: relative;
    font-size: 46px;
    left: 40px;
    color: black;
}


header ul {
    width: 300px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header ul li{
    background-color: rgb(76, 148, 216, 0.5);
    padding: 10px 20px;
    
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}
header a{
    text-decoration: none;
 
}

header ul li:hover {
    background-color: rgb(76, 148, 216);
    
}
/* Hero */
.hero{
    background-image: url(../images/hero-placeholder-chimp.png);
    background-size: cover;
    height: 650px;
    width: 100%;
}
/* cards */
section{
    display: flex;
    flex-wrap: wrap;
} 

.card{
    margin: 10px;
    border: 50px;
    height: auto;
    background-color: rgb(148, 207, 207);
    flex: 1 0 1;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    
}

.card img {
    margin: 100px 10px;
    flex: 1 0 0;
    /* border: 5px solid black; */
}

.text {
    width: auto;
    margin: 100px 25px;
    position: relative;
    flex: 2 0 0;
    background-color: rgb(138, 138, 172);
}

.text h2{
    padding: 0 40px 10px 40px;
    font-size: 55px;
}
.text p {
    padding: 0 25px;
    font-size: 25px;
}


.see-more p{
    font-size: 40px;
    display: inline;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(127, 255, 212, 0.404);
    padding: 5px;

}
.see-more p:hover {
    background-color: aqua;
}

/* Footer */
footer {
    height: 100px;
    background-color: rgb(154, 154, 231);
    border-top: 3px solid rgb(67, 70, 212);
}

/* Utility */
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}

